<div class ="card">
    <div class="container header1">
        <div class="logo m-5">
            <!-- Your Name -->
            <h1>Mukesh Bachu</h1>
            <p style="font-size: medium;">Full-Stack Software Engineer | Java | Spring Boot | Angular | React JS | GCP | Oracle DB | PostgreSQL </p>
        </div>
        <nav>
            <ul >
                <!-- Email -->
                <li><i class="pi pi-envelope" style="font-size: 1.25rem; margin: 5px;"></i>mukeshbachu.us&#64;gmail.com</li>
                <!-- Phone Number -->
                <li><i class="pi pi-phone"  style="font-size: 1rem; margin: 5px;"></i> +1 2149406204</li>
                <!-- GitHub Link -->
                <li><a href="https://github.com/yourusername" target="_blank"><i class="pi pi-github" style="margin: 5px;"></i>myGitHub</a></li>
                <!-- LinkedIn Link -->
                <li><a href="https://www.linkedin.com/in/yourusername" target="_blank"><i class="pi pi-linkedin" style=" margin: 5px;"></i>myLinkedIn</a></li>
            </ul>
        </nav>
    </div>
 
</div>






